body {
    background-color: white;
    background-image: url(images/code-2620118_1920.jpg);
}



.btn {
    display:block;
    width:200px;
    height:60px;
    line-height:40px;
    border:1px #626466 solid;
    background-color:#626466;
    text-align:center;
    font-size: 1.3rem;
    cursor: pointer;
    color:white;
    transition:all 0.9s, color 0.3;
 }
 
 .btn:hover{
     color:white;
}

.hover1:hover{ 
    box-shadow: 200px 0 0 0 rgba(0,0,0,0.25) inset, 
                -200px 0 0 0 rgba(0,0,0,0.25) inset;
 }

#btnPos {
    align-content: right;
    background-color: #626262;
}

#homeTab {
    text-align: center;
    background-color: #f9f9f9;
    opacity: 0.5 !important;
    padding: 10px;
}

.noneInherit {
    opacity: 1.0;
}

#welcome {
    padding: 50px 0px;
    color: black;
}

#myFace {
    float: inherit;
    width: 300px;
}

#myInfo {
    text-align: left;
    color: black;
}

#myInfo:first-child {
    margin-bottom: 30px;
}

#myInfo > h3 {
    margin: 0px 0px 30px 0px;
}