body {
    background-color: #f4f4f4;
}

/* ***************************************************** */
/* font-style */
.font-style1 {
    font-family: 'Noto Sans KR';
    font-weight: lighter;
}

.font-style1m {
    font-family: 'Noto Sans KR';
    font-weight: bold;
    font-size: 17px;
}

.font-style2 {
    font-family: 'Noto Sans KR';
    font-weight: lighter;
    font-size: 16px;
}

.font-style1[data-set~="mt40"] {
    margin-top:40px;
}

.font-style1[data-set~="mt60"] {
    margin-top:60px;
}

.font-style1[data-set~="mb20"] {
    margin-bottom:20px;
}

.font-style1[data-set~="mb50"] {
    margin-bottom:50px;
}

/* ***************************************************** */
/* img-style */
.img-style-main {
    height: 100px;
    width: 100px;
    text-align: center;
}

.img-style-main > img {
    height:100px;
    width: 100px;
}

.img-style-sm {
    height: 130px;
    width: auto;
}

.img-style-md {
    height: 110px;
    width: auto;
}

.img-style-lg {

}
/* ***************************************************** */
/* div-style */
.div-style {
    height: 130px;
    width: 130px;
    text-align: center;
}
/* ***************************************************** */
/* emptyset */
#emptyset {
    height:60px;
    width: auto;
}

/* hollow space */
.hs {
    margin-top: 100px;
}
/* ***************************************************** */
/* limitword */
.limitword {
    max-width: 200px;
}
/* ***************************************************** */
/* cabinet */
.cabi-img {
    height: 40px;
    width: auto;
}

.circle {
    margin: 50px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    text-align: center;
}

.circle[data-set~="short-lang"] {
    padding-top: 40px; 
}

.circle[data-set~="long-lang"] {
    padding-top: 30px; 
}

#circle-one {
    background-color: #b5d5d5;
}

#circle-two {
    background-color: rgb(119, 172, 221);
}

#circle-three {
    background-color: #a0a2f6;
}

#circle-four {
    background-color: #bba8f1;
}

#circle-five {
    background-color: #d6c4ec;
}
/* *************************************************** */
#tomcatimg > img {
    height: 90px;
    width: auto;
}

#mysqlimg > img {
    height: 100px;
    width: auto;
}

#mariadbimg > img {
    height: 80px;
    width: auto;
}

#npmimg {
    padding-top: 50px;
}

#npmimg > img {
    height: 30px;
    width: auto;
}

#junitimg {
    padding-top: 35px;
}

#junitimg > img {
    height: 30px;
    width: auto;
}

#log4jimg {
    padding-top: 30px;
}

#log4jimg > img {
    height: 40px;
    width: auto;
}
/* *************************************************** */
/* mobile */
@media ( max-width: 480px ) {
    .circle {
        margin: 10px;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        text-align: center;
    }

    #emptyset {
        height:120px;
        width: auto;
    }

    h2 > .font-style1 {
        font-size: 16px;
    }

    pre > .font-style2 {
        width: auto;
        overflow: unset;
    }
}